*{
margin: 0;
padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{

background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(387093.png);
background-position: top;
background-size: cover;
background-repeat: no-repeat;
font-family: 'Roboto', sans-serif;
height: 100vh;



}

nav{
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 2% 6%;



}

nav img{
    height: 90px;
    width: 179px;



}

.navlinks{

    
    text-align: right;

}

.navlinks ul li{
  list-style: none;
 display: inline-block;

  padding: 8px 10px;
}


.navlinks ul li a{
  
padding: 10px;   
    text-decoration: none;


    color: white;
    font-size: 20px;
    transition: 0.4s;
}




.navlinks ul li a:hover{
    text-decoration: underline;
    color: #e74c3c;

}

.dragonball{
    
    
    width: 90%;
    position: absolute;
    top: 50%;

    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.dragonball h1{
font-size: 62px;
color: white;

}

.dragonball p{
    margin: 10px 0px 40px;
    font-size: 20px;;
    color: white;
}

.btns{
    color:white;
    border: 1px solid white;
text-transform: uppercase;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 20px;
    background:transparent;
    position: relative; 
    cursor: pointer;
word-wrap: break-word;
letter-spacing: 2px;


}
.btns:hover{
    background: #e74c3c;
    border: 1px solid #e74c3c;
    transition: 0.9s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .dragonball h1{
        font-size: 29px;
    }

    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;}
nav .fa{
    color: white;
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}

.navlinks ul{
    padding: 30px;
}




}

@media (max-width:950px) and (min-width: 700px){
    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;

        z-index: 2;
    }
nav .fa{
    color: white;
    display: block;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
}

.navlinks ul{
    padding: 30px;
}
}

/* character */

.series{
    text-align: center;
    padding-top: 100px;
    width: 100%;


}

h1{
    font-size: 40px;
    font-weight: 600;
}

p{
    color:#2c3e50;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.series-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-left: 25px;
    transition: 0.5s;
    margin-right: 25px;
    height: 50h;
}

.series-col a{
    display: block;
    margin-top: 25px;
    color: white;
    border: 1px solid #e74c3c;
    background: #f10909d1;;
    width: 48%;
    margin-left:16%;
    padding-top: 13px;
    
}




h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.series-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
 
}

@media(max-width: 700px){
.row{
    flex-direction: column;
}

}




/* studio */

.studio{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.studio-col{
    flex-basis: 32%;

 position: relative;
 border-radius: 10px;
 margin-bottom: 30px; 
}

.studio-col img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
    display: block;
}

 .layer{
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
transition: 0.8s;
    background: transparent;
}
.layer:hover{
    background: rgba(226,0,0,0.4);  
} 

.layer h3{
    width: 100%;
    font-weight: 500;
    color:white ;
    font-size: 26px;
    position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%, -50%);
    opacity: 0;
     transition: .4s;
}

.layer:hover h3{
bottom: 49%;
opacity: 1;
}

/* more */

.more{
    text-align: center;
    width: 80%;
    margin:auto;
    padding-top: 100px;
    flex-wrap: wrap;
}

.more-col img{
    height: 300px;
    width: 347px;
    border-radius: 10px;
    transition: 0.6s;
}

.more-col img:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}


.more-col{
    
    flex-basis: 29%;
    text-align: center;
   
}

.more-col a{
    display: block;
    margin-top: 25px;
    color: white;
    border: 1px solid #e74c3c;
    background: #f10909d1;;
    width: 48%;
    margin-left:16%;
    padding-top: 13px;
    
}

.more-col h3{
    text-align: center;
   margin-bottom: 10px;
margin-top: 16px;
font-size: 30px;
}

@media(max-width: 700px){
    .more-col a{
        margin-bottom: 50px;
    }

    .more-col a{
        margin-right:10px;
    }

    
}

@media(max-width: 800px) and (min-width: 700px){
    .row{
        flex-direction: column;
    }

    .more-col a{
        margin-bottom: 25px;
        margin-left: 20%;
    }

   .series-col a{
       align-items: center;
       display: flex;
    justify-content: center;
       width: 20%;
margin-left: 33%;
   }
}




/* signin */

.signin{
    margin: 100px auto;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(uigoku1.jpg);
    background-position: bottom;
   background-size: 1000px;
   background-repeat: no-repeat;
   border-radius: 10px;
   padding: 100px 0;
   text-align: center;


}

.signin h1{
color: white;
margin-bottom: 40px;
}

html{
    scroll-behavior: smooth;
}